<div *ngIf="item">
	<p>
		<a href="{{item.url}}" target="_blank">
			{{item.title}}
		</a>
		

		<a href="http://twitter.com/home?status={{item.url}}" target="_blank" class="btn btn-social-icon" style="float: right; margin-top: 12px; margin-right: 70px;">
				<span class="fa fa-twitter-square"></span>
		</a>

		<br>
		<span class="story-discussion">
			{{item.score}} points |
			<a [routerLink]="['/item', item.id]">
				<span *ngIf="item.descendants !== 0">
		        	{{item.descendants}}
		          	<span *ngIf="item.descendants === 1">comment</span>
		          	<span *ngIf="item.descendants > 1">comments</span>
		        </span>
	        </a>
        </span>
	</p>
</div>