<md-toolbar>
	<div class="toolbar-heading-logo">
 		HN
	</div>

	<div class="toolbar-header-content">
		<span>New</span>
		<span>|</span>

		<span>Comments</span>
		<span>|</span>

		<span>Shows</span>
		<span>|</span>

		<span>Ask</span>
		<span>|</span>

		<span>Jobs</span>
	</div>

	<div class="toolbar-heading-option">
 		Save
	</div>
</md-toolbar>


<div class="news-content">
	<ol>
		<li *ngFor="let item of items; let i = index">Story #{{i+1}}</li>
	</ol>
</div>

<br>
<div class="footer">
	Made with <i class="material-icons" style="color: red">favorite</i> | Find it on <a href="https://github.com/ashvinikumar/HN-Angular2" target="_blank">GitHub</a>
</div>
<br>