<md-toolbar>
	<div class="toolbar-heading-logo">
 		HN
	</div>

	<div class="toolbar-header-content">
		<span>New</span>
		<span>|</span>

		<span>Comments</span>
		<span>|</span>

		<span>Shows</span>
		<span>|</span>

		<span>Ask</span>
		<span>|</span>

		<span>Jobs</span>
	</div>

	<div class="toolbar-heading-option">
 		Save
	</div>
</md-toolbar>


<div class="news-content" fullscreen>
	<ol>
		<li>story #1</li><br>
		<li>story #2</li><br>
		<li>story #3</li><br>
		<li>story #4</li><br>
		<li>story #5</li><br>
		<li>story #6</li><br>
		<li>story #7</li><br>
		<li>story #8</li><br>
		<li>story #9</li><br>
		<li>story #10</li><br>
		<li>story #11</li><br>
		<li>story #12</li><br>
		<li>story #13</li><br>
		<li>story #14</li><br>
		<li>story #15</li><br>
		<li>story #16</li><br>
		<li>story #17</li><br>
		<li>story #18</li><br>
		<li>story #19</li><br>
		<li>story #20</li><br>
		<li>story #21</li><br>
		<li>story #22</li><br>
		<li>story #23</li><br>
		<li>story #24</li><br>
		<li>story #25</li><br>
		<li>story #26</li><br>
		<li>story #27</li><br>
		<li>story #28</li><br>
		<li>story #29</li><br>
		<li>story #30</li><br>
	</ol>
</div>

<br>
<div class="footer">
	Made with <i class="material-icons" style="color: red">favorite</i> | Find it on <a href="https://github.com/ashvinikumar/HN-Angular2" target="_blank">GitHub</a>
</div>
<br>